{% extends "base.tpl" %}
{% load humanize %}

{* Overload Header *}
{% block header %}
{% endblock %}

{% block inline_css %}
<style>
    #box {
        width: 50% !important;
        min-width: 100px !important;
    }
</style>
{% endblock %}

{% block inline_js %}
<script>
    $(document).ready(function() {
        $("#box").removeClass('hidden');
    });
</script>
{% endblock %}

{% block box %}
<div class="block" id="block-login">
    <div class="content login">
    <h3>Thanks!</h3>
    <p>You've been added to the list of invites.</p>

    </div>
</div>
{% endblock %}
