<form id="form_new_function" action="update/" method="GET">
        <table id="symbolform">
            <tr>
                <td style="vertical-align: top;">
                    <div id="preview">$$$$</div>
                </td>
                <td>
                <table>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" value="{{function.name}}"/></td>
                    </tr>
                    <tr>
                        <td>Symbol 1</td>
                        <td><input id="symbol1" type="text" name="symbol1" value="{{function.symbol1}}"/></td>
                    </tr>
                    <tr>
                        <td>Symbol 2</td>
                        <td><input id="symbol2" type="text" name="symbol2" value="{{symbol.tex}}"/></td>
                    </tr>
                    <tr>
                        <td>Symbol 3</td>
                        <td><input id="symbol3" type="text" name="symbol3" value="{{symbol.tex}}"/></td>
                    </tr>
                    <tr>
                        <td>Arity</td>
                        <td><input id="arity" type="text" name="arity" value="{{function.arity}}"/><input type="checkbox" name="nary"> n-ary</td>
                    </tr>
                    <tr>
                        <td>Force Parenthesis</td>
                        <td><input type="checkbox" name="pnths"></td>
                    </tr>
                    <tr>
                        <td>Notation Type</td>
                        <td>
                            <select name="notation"> 
                                <option>Prefix</option>
                                <option>Infix</option>
                                <option>Postfix</option>
                                <option>Outfix</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="submit" name="Commit Changes" style="float: right">
        </td>
        </tr>
    </table>
</form>
<button style="float: right" onclick="preview();">Preview</button>
<a href="javascript:preview();">Preview</a>
