<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 <title>Home Page</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css" />
 <link rel="stylesheet" type="text/css" href="/static/ui/ui.css" />
 <script src="/static/jquery.js" type="text/javascript"></script>
 <script src="/static/jquery-ui.js" type="text/javascript"></script>
 <script src="/static/tablesearch.js" type="text/javascript"></script>
 <style>
     #workspaces {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
     }

    #menu {
        width: 100%;
        height: 25px;
    }

    table {
        font-size: 12pt;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:visited {
       color: inherit; 
    }

    a:hover {
        border-bottom: 1px dashed black;
    }

    td {
        padding: 0px;
        margin: 0px;
    }

    tr {
        padding: 0px;
        margin: 0px;
        border-spacing: 0px 0px;
        border-collapse:separate; 
    }

    td {
        padding-right: 25px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    td > * {
        padding-left: 10px;
    }

    .ui-icon {
        float: left;
    }
 </style>
 <script type="text/javascript">
    function init()
    {
         $("tr:odd").css("background-color", "#dddddd");

         $('#new').button({
            icons: {primary: 'ui-icon-document'},
         });

         $('#delete').button({
            icons: {primary: 'ui-icon-trash'},
         });

         $('#copy').button({
            icons: {primary: 'ui-icon-copy'},
         });

         $('#export').button({
            icons: {primary: 'ui-icon-print'},
         });

         $('#symbols').button({
            icons: {primary: 'ui-icon-note'},
         })

         $('#funs').button({
            icons: {primary: 'ui-icon-note'},
         })

         $('#rules').button({
            icons: {primary: 'ui-icon-note'},
         })

        $('input#search').quicksearch('table tbody tr');
     };
     
    function show_new_workspace()
    {
        $("#new_workspace").dialog({
            buttons: { "Create": function() { new_workspace(); $(this).dialog('close'); } },
            resizable: false,
            modal: true,
            position: 'center',
        })
    }

    function show_delete_workspace()
    {
        yesno(function() { del_workspace()}, 'Are you sure you want to delete selected workspace? ')
    }

    function del_workspace()
    {
        request = $('#workspace_list').serializeArray()
        $.post("del_workspace/", request,
           function(data){
               location.reload(); 
           },
        "json");
    }

    function new_workspace()
    {
        request = $("#form_new_workspace").serializeArray()
        $.post("new_workspace/", request,
           function(data){
           },
        "json");
    }

    function yesno(func,message)
    {
        $("#yesno").dialog({
            buttons: { "Yes": function() { func(); $(this).dialog('close') } },
            resizable: false,
            modal: true,
            position: 'center',
        }).html(message)
    }
 </script>
</head>
<body onLoad="init();">
    <div id="workspaces">
    <h1>Workspaces</h1>
        <div id="menu" class="ui-widget-header ui-corner-all">
            <button id="new" onClick="show_new_workspace()">New Workspace</button>
            <button id="delete" onClick="show_delete_workspace()">Delete Workspace</button>
            <button id="copy">Duplicate Workspace</button>
            <button id="export">Export LaTeX</button>
            <input type="text" id="search" class="search" style="float:right">
            <button id="symbols" onclick="window.location.href='/sym'">Symbols</button>
            <button id="funs" onclick="window.location.href='/fun'">Functions</button>
            <button id="rules" onclick="window.location.href='/rule'">Rules</button>
        </div>
    <form id="workspace_list">
        <table>
            <tr>
                <th>Name</th>
                <th>Date Modified</th>
                <th>Public</th>
            </tr>
        {% for workspace in workspaces %}
            <tr>
                <td>
                    <input type="checkbox" name="{{workspace.id}}"/>
                    <a href="ws/{{ workspace.id }}">{{ workspace.name }}</a>
                </td>
                <td>
                    {{ workspace.timestamp|date:"l d" }}
                </td>
                <td>
                    {{ workspace.public|yesno|title }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </form>
    </div>

    <div id="yesno" title="Confirm" style="display:none">
    </div>

    <div id="prompt" title="Name" style="display:none">
        <form>
            <input type="text"/>
        </form>
    </div>

    <div id="sagecode" title="Name" style="display:none">
        <form>
            <!-- Run this through sage_parse_exp -->
            Sage Expression:<textarea></textarea>
        </form>
    </div>

    <div id="new_workspace" title="New Workspace" style="display:none">
        <form id="form_new_workspace">
            Name: <input type="text" name="name"/><br/>
            Starting Template: <select name="init">
              <option>Expression</option>
              <option>Equation</option>
              <option>Inequality</option>
              <option>Function</option>
          </select>
        </form>
    </div>
    
</body>
</html>
