<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Home Page</title>
<style>
    body {
        font-size: 25px;
    }

    table {
        border: 1px solid black;
    }

    .num {
        display: block;
        text-align: center;
        border-bottom: 2px solid black;
    }

    .den {
        display: block;
        text-align: center;
    }

    .den * {
        text-align: center;
    }

    .rhs {
        display: table-cell;
        vertical-align: middle;
    }

    .term {
        display: inline;
        /*border: 1px solid #CCCCCC;*/
    }

    .fraction {
        vertical-align: middle;
        display: inline-block;
    }
    
</style>
</body>
    <table>
        <tr>
            <td>a</td>
            <td>=</td>
            <td>
                <span class="rhs"> 
                    <span class="term">a</span> 
                    <span class="term">+</span> 
                    <span class="term">b</span> 
                    <span class="term">+</span> 
                    <span class="fraction">
                            <span class="num">
                                <span class="term">n</span> 
                                <span class="term">u</span> 
                                <span class="term">m</span> 
                            </span> 
                            <span class="den">
                                <span class="term">den</span> 
                            </span> 
                    </span> 
                    <span class="term">+</span> 
                    <span class="term">c</span> 
                    <span class="fraction">
                            <span class="num">
                                <span class="term">n</span> 
                                <span class="term">u</span> 
                                <span class="fraction">
                                        <span class="num">
                                            <span class="term">n</span> 
                                            <span class="term">u</span> 
                                            <span class="term">m</span> 
                                        </span> 
                                        <span class="den">
                                            <span class="term">den</span> 
                                        </span> 
                                </span> 
                            </span> 
                            <span class="den">
                                <span class="term">den</span> 
                            </span> 
                    </span> 
                </span> 
            </td>
        </tr>
        <tr>
            <td>c</td>
            <td>=</td>
            <td>
                <span class="rhs"> 
                    <span class="term">3</span> 
                    <span class="term">+</span> 
                    <span class="fraction">
                            <span class="num">
                                <span class="term">1</span> 
                            </span> 
                            <span class="den">
                                <span class="term">7</span> 
                                <span class="term">+</span> 
                                <span class="fraction">
                                        <span class="num">
                                            <span class="term">1</span> 
                                        </span> 
                                        <span class="den">
                                            <span class="term">15</span> 
                                            <span class="term">+</span> 
                                            <span class="fraction">
                                                    <span class="num">
                                                        <span class="term">1</span> 
                                                    </span> 
                                                    <span class="den">
                                                        <span class="term">15</span> 
                                                        <span class="term">+</span> 
                                                        <span class="fraction">
                                                                <span class="num">
                                                                    <span class="term">1</span> 
                                                                </span> 
                                                                <span class="den">
                                                                    <span class="term">292</span> 
                                                                </span> 
                                                        </span> 
                                                    </span> 
                                            </span> 
                                        </span> 
                                </span> 
                            </span> 
                    </span> 
                </span>
            </td>
        </tr>
        <!-- --->
        <tr>
            <td>a</td>
            <td>=</td>
            <td>
                <span class="rhs"> 
                    <span class="term">
                        <span class="term">a</span> 
                        <span class="term">+</span> 
                        <span class="term">b</span> 
                        <span class="term">+</span> 
                        <span class="fraction">
                                <span class="num">
                                    <span class="term">n</span> 
                                    <span class="term">u</span> 
                                    <span class="fraction">
                                            <span class="num">
                                                <span class="term">n</span> 
                                                <span class="term">u</span> 
                                                <span class="term">m</span> 
                                            </span> 
                                            <span class="den">
                                                <span class="term">den</span> 
                                            </span> 
                                    </span> 
                                </span> 
                                <span class="den">
                                    <span class="term">den</span> 
                                </span> 
                        </span> 
                    </span>
                </span> 
            </td>
        </tr>
    </table>
</html>
