<form id="form_new_symbol" action="/sym/new/" method="POST">
        <table id="symbolform">
            <tr>
                <td style="vertical-align: top;">
                    <div id="preview" style="padding: 40px">$${{symbol.tex}}$$</div>
                </td>
                <td>
                <table>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" value="{{symbol.name}}"/></td>
                    </tr>
                    <tr>
                        <td>TeX</td>
                        <td><input id="texinput" type="text" name="tex" value="{{symbol.tex}}" onchange="preview()"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><textarea type="text" name="desc">{{symbol.desc}}</textarea></td>
                    </tr>
                <hr/>
                </table>
        <hr/>
        <input type="checkbox" name="public" {% if symbol.public %} checked {% endif %}/>Public<br/>
        <input type="checkbox" value="numeric">Is Numeric<br/>
        <input type="checkbox" value="zero">Is Zero<br/>
        <input type="checkbox" value="positive">Is Positive<br/>
        <input type="checkbox" value="negative">Is Negative<br/>
        <input type="checkbox" value="integer">Is Integer<br/>
        <input type="checkbox" value="even">Is Even<br/>
        <input type="checkbox" value="odd">Is Odd<br/>
        <input type="checkbox" value="prime">Is Prime<br/>
        <input type="checkbox" value="rational">Is Rational<br/>
        <input type="checkbox" value="real">Is Real<br/>
        <input type="checkbox" value="complex">Is Complex<br/>
        <input type="submit" value="Commit Changes" style="float: right">
        </td>
        </tr>
    </table>
</form>
