<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/math.css" />

 <script src="/static/jquery.js" type="text/javascript"></script>
 <script src="/static/jquery-ui.js" type="text/javascript"></script>

</head>
<body>
    <h1>Sexp</h1>
    <textarea id="sexp" style="width: 100%"></textarea>
    <button> Translate Sexp</button>

    <h1>Pure</h1>
    <textarea id="pure" style="width: 100%"></textarea>
    <button> Translate Pure</button>
    <input type="checkbox"/>Translate Infix

    <h1>Presentation</h1>
    <div id="pres" style="width: 100%; border: 1px solid;
        min-height: 50px"></div>

    <h1>LaTeX</h1>
    <textarea readonly id="latex" style="width: 100%"></textarea>

    <h1>Sage</h1>
    <textarea readonly id="sage" style="width: 100%"></textarea>
</body>
</head>
