<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 <title>Worksheet - {{title}}</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css" />
 <link rel="stylesheet" type="text/css" href="/static/ui/ui.css" />

 <script src="/static/jquery.js" type="text/javascript"></script>
 <script src="/static/jquery-ui.js" type="text/javascript"></script>
 <script src="/static/keys.js" type="text/javascript"></script>
 <script src="/static/tooltip.js" type="text/javascript"></script>
 <script src="/static/layout.js" type="text/javascript"></script>
 <script src="/static/pnotify.js" type="text/javascript"></script>
 <script src="/static/vi.js" type="text/javascript"></script>

 <!--
<link type="text/css" rel="stylesheet" href="http://jqueryui.com/themes/base/ui.all.css" />
<script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/">
</script>
-->

 <!-- Load jsMath -->
 <script src="/static/jsMath/easy/load.js"></script>

 <!-- Worksheet functionality -->
 <script src="/static/js/worksheet.js" type="text/javascript"></script>


 <script type="text/javascript">
$(document).ajaxError(function() {
    error("Error connecting to server")
})

$(document).ready(function () {
    init();

    //Only show the workspace after all math is rendered
    jsMath.Synchronize(function () {
        refresh_jsmath()
        $(".lines").fadeIn('fast')
    });
});


function init()
{
    //$('#switcher').themeswitcher();

    //Whether we want the toolbar on the right or left
    toolbar = 'west'

    layout = $('body').layout({ 
        applyDefaultStyles: true,
        east__minSize: 300,
        west__minSize: 300,
        //east__onresize:	function () { $("#math_palette").accordion("resize"); },
        north__resizable: false,
    });
    //layout.sizePane('east', 300);
    layout.sizePane('west', 300);

    $(document).bind(
        'keydown', 'f4', function() {show_debug_menu()})
        .bind('keydown', 't', function() {lookup_transform()})
        .bind('keydown', '+', function() {substite_addition()})
        .bind('keydown', '-', function() {substite_subtraction()})
        .bind('keydown', '*', function() {substite_multiplication()})
        .bind('keydown', '/', function() {substite_division()})
        .bind('keydown', 'del', function() {remove_element()})
        .bind('keydown', 'esc', function() {clear_selection()})
        .bind('keydown', 'r', function() {refresh_jsmath()})
        .bind('keydown', 'o', function() {new_inline()})
        .bind('keydown', 'tab', function() {next_placeholder()})
        .bind('keydown', 's', function() {show_cmd()}
    )

    $("#hovertoggle").button();
    bind_hover_toggle();

    $(".typeset").disableTextSelect();
    $('li[title]').tooltip({track:true});
    $('ul[title]').tooltip({track:true});

    $("#cmd_form").submit(function(e) { 
            exec_cmd();
            e.preventDefault();
            });
    
    //Handle the math palette
    $.ajax({
    url: '/palette',
    success: function(data) {
        $("#math_palette").html(data)

        $('#math_palette .drag_placeholder').attr('math-meta-class','')

        //Make the palette sections collapsable
        $('#math_palette h3').bind('click',function() {
                $(this).next().toggle();
                return false
        }).next().hide();

        //Make the Palette look like an accordion widget
        $('#math_palette').addClass('ui-accordion ui-widget ui-helper-reset ui-accordion-icons')
        $('#math_palette h3').addClass('ui-accordion-header ui-helper-reset ui-state-default')
        $('#math_palette div').addClass('ui-accordion-content ui-helper-reset ui-widget-content')


        //Make the math terms interactive
        traverse_lines()
    }})

    /*
    $('#math_palette').addClass('ui-accordion ui-widget ui-helper-reset ui-accordion-icons')
    $('#math_palette h3').addClass('ui-accordion-header ui-helper-reset ui-state-default')
    $('#math_palette div').addClass('ui-accordion-content ui-helper-reset ui-widget-content')
    */

    //Make buttons pretty
    $('.equation button').parent().buttonset();
    $('#cmdbuttons button').parent().buttonset();

    //refresh_jsmath()
    traverse_lines();

}

 </script>
</head>
<body>

    <div id="header" class="ui-widget-header ui-layout-north">
        <span class="left"><b>Worksheet:</b> {{title|title}}</span>
        <input type="checkbox" id="hovertoggle" /><label
            for="hovertoggle">Toggle</label> | 
        <span class="right">

            {{username}} |
            <a href="/home">Home</a> |
            <a href="javascript:save_workspace()">Save Worksheet</a> |
            <a href="/accounts/logout">Sign Out</a> 
        </span>
    </div>

<div id="debug_menu" style="display:none" title="Debug Menu">
        <form>
            <textarea id="debug_console"></textarea><br/>
        </form>
        <button class="ui-widget" text="init" onclick="javascript:init()">init</button>
        <button class="ui-widget" text="traverse_lines" onclick="javascript:traverse_lines()">traverse_lines</button>
        <button class="ui-widget" text="Colors" onclick="javascript:debug_colors()">debug_colors</button>
        <button class="ui-widget" text="Colors" onclick="location.href='?tree=true'">show syntax tree</button>
        <button class="ui-widget" onclick="javascript:toggle_units()">toggle_units</button>
        <button class="ui-widget" onclick="javascript:toggle_sageinput()">sage_input</button>
        <button class="ui-widget" onclick="javascript:debug_math()">show_math</button>
        <button class="ui-widget"
            onclick="javascript:update(get_selection(0))"> update math for selected</button>
        <button class="ui-widget" onclick="javascript:jsMath.ConvertTeX(); jsMath.Process();">refresh_jsmath</button>
        <button class="ui-widget" onclick="javascript:$('#debug_console').text($('.selected').attr('math'))">show math for selected</button>
        <button class="ui-widget"
            onclick="javascript:toggle_spacing()">toggle spacing</button>
        <button class="ui-widget" onclick="javascript:save_workspace()">save workspace</button>
        <div id="horizslider" style="width: 150px"></div>Horizontal Term Spacing<br/>
        <div id="vertslider" style="width: 150px"></div>Vertical Term Spacing<br/>
        <!-- Debug to write selected objects math strings out to debug console !!!!!!!!!!!!!! -->
        <div id="switcher"></div>
</div>

<div id="workspace" class="ui-layout-center">
    <div id="cmd_input" style="display:none" >
        <form id="cmd_form">
            <input id="sage_cmd" type="text" />
            <input type=submit />
        </form>
    </div>

    <div class="cell">
        <table class="lines" style="display: none">
            {% for equation in equations %}
                {{equation}} 
            {% endfor %}
        </table>
    </div>
</div>

<div id="palette" class="ui-layout-west">
    <div id="math_palette">
    </div>
</div>

<div id="east" class="ui-layout-east">
    <button onclick="build_tree()">Build Tree</button>
    <div id="tree">
    </div>
</div>

<div id="error_dialog" title="Error" style="display:none">
</div>

<div id="sage_input" title="Sage Parser" style="display:none">
    <textarea id="sage_text" style="width:90%; height: 85%"></textarea>
</div>

<div id="toolbar" class="ui-widget ui-widget-content ui-layout-south">

    <div id="selectionlist"></div>
    <div id="options"></div>

    <div id="cmdbuttons">
        <button class="ui-widget" type="image" onclick="javascript:lookup_transform()" title="Transformation"><img src="/static/ui/icons/toward.png"/></button>
        <button class="ui-widget" type="image" onclick="javascript:lookup_identity()" title="Identities"><img src="/static/ui/icons/identity.png"/></button>
        <button class="ui-widget" type="image" title="Equalities"><img src="/static/ui/icons/equal.png"/></button>
        <button class="ui-widget" type="image" title="Theorems"><img src="/static/ui/icons/implies.png"/></button>
        <button class="ui-widget"
            onclick="javascript:toggle_sageinput()"
            title="Transformation">Sage</button>
        <button class="ui-widget"
            onclick="javascript:new_inline()"
            title="Transformation">New</button>
    </div>
</div>


</body>
</html>
