<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 <title>Worksheet - {{title}}</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css" />
 <link rel="stylesheet" type="text/css" href="/static/ui/ui.css" />
 <script src="/static/jquery.js" type="text/javascript"></script>
 <script src="/static/jquery-ui.js" type="text/javascript"></script>
 <script src="/static/keys.js" type="text/javascript"></script>
 <script src="/static/tooltip.js" type="text/javascript"></script>
 <script src="/static/layout.js" type="text/javascript"></script>

<!--<link type="text/css" rel="stylesheet" href="http://jqueryui.com/themes/base/ui.all.css" />-->

 <!-- Load jsMath -->
 <script src="/static/jsMath/easy/load.js"></script>

 <!-- Worksheet functionality -->
 <script src="/static/js/worksheet.js" type="text/javascript"></script>


 <script type="text/javascript">
$(document).onLoad(function () {
        init();
});

function init()
{
    layout = $('body').layout({ 
        applyDefaultStyles: true,
        east__minSize: 300,
        east__onresize:	function () { $("#math_palette").accordion("resize"); }
    });
    layout.sizePane('east', 300);

    $(document).shortkeys({
    'escape':       function () { clear_selection() },
    't':            function () { lookup_transform() },
    'i':            function () { lookup_identity() },
    'e':            function () { select_equation() },
    'r':            function () { javascript:apply_transform('PlaceholderSubstitute')  },
    'h':            function () { cur_next() },
    'l':            function () { cur_prev() },
    'f4':           function () { show_debug_menu() },
    });

    $("#hovertoggle").button();
    bind_hover_toggle();
    
    //CTRL-S
    /*
    $(window).keydown(function(event) {
        event.preventDefault();
        if (!((event.which == 83 || event.which == 115) && event.ctrlKey)) return true;
        save_workspace();
        event.preventDefault();
        return false;
    });
    */

    $(".typeset").disableTextSelect();
    $('li[title]').tooltip({track:true});
    $('ul[title]').tooltip({track:true});
    
    //Handle the math palette
    $('#math_palette').load('/palette').ajaxComplete(function()
    {
        //Make it impossible to click on Placeholder objects in the palette
        $('#math_palette .drag_placeholder').attr('math-meta-class','')
        $("#math_palette").accordion({
            fillSpace: true, 
            animated: false
            });
        traverse_lines();
    });
    
    //Make the math palette collapsable
    $('#collapser').button();
    $("#collapser").click(function () {
        $("#vert_collapsable").toggle();
        $("#collapser").removeClass("ui-icon-carat-1-e");
    });

    //Make buttons pretty
    $('.equation button').parent().buttonset();
    $('#cmdbuttons button').parent().buttonset();

    jsMath.ConvertTeX(); jsMath.Process();
    traverse_lines();
}

 </script>
</head>
<body>

    <div id="header" class="ui-widget-header ui-layout-north">
        <span class="left"><b>Worksheet:</b> {{title}}</span>

        <span class="right">

            <a href="/home">Home</a> |
            <a href="javascript:save_workspace()">Save Worksheet</a> |
            <a href="#">Sign Out</a> 
        </span>
    </div>

<div id="debug_menu" style="display:none" title="Debug Menu">
        <form>
            <textarea id="debug_console"></textarea><br/>
        </form>
        <button class="ui-widget" text="init" onclick="javascript:init()">init</button>
        <button class="ui-widget" text="traverse_lines" onclick="javascript:traverse_lines()">traverse_lines</button>
        <button class="ui-widget" text="Colors" onclick="javascript:debug_colors()">debug_colors</button>
        <button class="ui-widget" text="Colors" onclick="location.href='?tree=true'">show syntax tree</button>
        <button class="ui-widget" onclick="javascript:toggle_units()">toggle_units</button>
        <button class="ui-widget" onclick="javascript:toggle_sageinput()">sage_input</button>
        <button class="ui-widget" onclick="javascript:debug_math()">show_math</button>
        <button class="ui-widget" onclick="javascript:jsMath.ConvertTeX(); jsMath.Process();">refresh_jsmath</button>
        <button class="ui-widget" onclick="javascript:$('#debug_console').text($('.selected').attr('math'))">show math for selected</button>
        <button class="ui-widget"
            onclick="javascript:toggle_spacing()">toggle spacing</button>
        <button class="ui-widget" onclick="javascript:save_workspace()">save workspace</button>
        <div id="horizslider" style="width: 150px"></div>Horizontal Term Spacing<br/>
        <div id="vertslider" style="width: 150px"></div>Vertical Term Spacing<br/>
        <!-- Debug to write selected objects math strings out to debug console !!!!!!!!!!!!!! -->
        <!--
        <script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/">
        </script>
        <div id="switcher"></div>
        -->
</div>

<div id="workspace" class="ui-layout-center">
    <table id="lines">
        {% for equation in equations %}
            {{equation}} 
        {% endfor %}
    </table>
</div>

<div id="palette" class="ui-layout-east">
    <div id="math_palette">
    </div>
</div>

<div id="error_dialog" title="Error" style="display:none">
</div>

<div id="sage_input" title="Sage Parser" style="display:none">
    <textarea id="sage_text" style="width:90%; height: 85%"></textarea>
    <button onclick="javascript:parse_sage()">Execute</button>
</div>

<div id="toolbar" class="ui-widget ui-widget-content ui-layout-south">

    <div id="selectionlist"></div>
        <input type="checkbox" id="hovertoggle" /><label for="hovertoggle">Toggle</label>
    <div id="options"></div>

    <div id="cmdbuttons">
        <button class="ui-widget" type="image" onclick="javascript:lookup_transform()" title="Transformation"><img src="/static/ui/icons/toward.png"/></button>
        <button class="ui-widget" type="image" onclick="javascript:lookup_identity()" title="Identities"><img src="/static/ui/icons/identity.png"/></button>
        <button class="ui-widget" type="image" title="Equalities"><img src="/static/ui/icons/equal.png"/></button>
        <button class="ui-widget" type="image" title="Theorems"><img src="/static/ui/icons/implies.png"/></button>
        <button class="ui-widget"
            onclick="javascript:toggle_sageinput()"
            title="Transformation">Sage</button>
    </div>
</div>


</body>
</html>
