/* CSS to render math elements */

::selection { background: transparent; }
::-moz-selection { background: transparent; }

.MathJax_Display {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* Spacing between lines */
.equation td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.equation > .ui-buttonset {
    padding-right: 1em;
}

.equation > .equalsign {
    padding-right: 1em;
    padding-left: 1em;
}

.equation button {
    float: left;
}

.equation {
    width: 100%;
}

.equation.selected td:first-child:first-child {
}

.num {
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
}

.den {
    display: block;
    text-align: center;
}

.den * {
    text-align: center;
}

.rhs {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

.lhs {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

.term {
    display: inline-block;
    vertical-align: baseline;
    cursor: move;
}

.infix {
    display: inline-block;
}

.texdecoration {
    display: inline-block;
}

.overline {
    text-decoration:overline;
}

.operator {
    display: inline-block;
    /* Some operators look better with this */
    /*vertical-align: middle;*/
}

.exponent {
    display: inline-block;
    /*vertical-align: super;*/
}

.base {
    display: inline-block;
}

.baseline {
    vertical-align: baseline;
    display: inline;
}

.fraction {
    height: inherit;
    vertical-align: middle;
}

.negate {
    /* Override the default container behavior */
    vertical-align: baseline !important;
}

.container {
    /* This is the one element that is raising some issues */
    display: inline-block;
    height: inherit;
}

.baseline {
    display: inline-block;
    vertical-align: baseline;
}

.middle {
    display: inline-block;
    vertical-align: middle;
}

.fractionbar {
   border-bottom: 1px solid black; 
}

.unit {
    display: inline-block;
}

.placeholder {
    border: 1px dashed #d4a5a5 !important;
    min-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    opacity: 1.0 !important;
}

.pnths {
    vertical-align: baseline;
    position: relative;
    font-family: MathJax_Main;
    word-spacing: 0px;
}

.sqrt-prefix {
    vertical-align: top;
    position: relative;
    left: 1px;
    top: 2px;
    font-family:'Computer Modern', 'Times New Roman', serif;
}

.sqrt-stem {
    border-top: 1px solid black;
    margin-top: 1px;
    padding-left: 2px;
    padding-right: .1em;
    margin-right: .1em;
}

.cell {
    border-right: 5px solid #07B;
    margin-bottom: 3px;
    min-height: 25px;
}

.cell.active {
    border-right: 5px solid red;
}
