/* CSS to render math elements */

::selection { background: transparent; }
::-moz-selection { background: transparent; }

.MathJax_Display {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#workspace math {
    font-size: 200%;
    font-family: STIXGeneral,DejaVu Serif,DejaVu Sans,Cambria,Cambria Math,Times,Lucida Sans Unicode,OpenSymbol,Standard Symbols L,serif;
}

/* ------------------- 
   Toplevel Elements 
   ----------------- */

/* Spacing between lines */
.equation td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.equation > .equalsign {
    padding-right: 1em;
    padding-left: 1em;
}

.equation {
    width: 100%;
}

.assumption {
    clear: right;
    padding-right: 25px;
}

.placeholder {
    border: 1px dashed #d4a5a5 !important;
    min-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    opacity: 1.0 !important;
}

.cell {
    margin-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 3px; 

    border-right: 5px solid #ccc;
    border-top: 5px solid #ccc;  

    min-height: 100px;
}

.cell:hover {
}

.cell .assumptions {
    min-height: 20px;
    border-bottom: 1px dashed black;
}

.cell .equations {
    min-height: 50px;
}

.lines {
    margin-top: 3px;
    margin-bottom: 3px;
    border-left: 5px solid #07B;
}

.lines.selected {
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    border-left: 5px solid #f00;
}

.cell.active {
    border-right: 5px solid red;
}

.cell .cellbuttons {
    float :right;
}
