/* CSS to render math elements */

/*::selection { background: transparent; }*/
/*::-moz-selection { background: transparent; }*/

#worksheet math {
    font-size: 145%;
}

/* -------------------
   Toplevel Elements
   ----------------- */

.toplevel {
    position: relative;
    margin-bottom: 10px;
}

.assumption {
    clear: right;
    padding-right: 25px;
}

/* -------------------
   Node Styling
   ----------------- */

math .selected {
    margin: -2px;
    border: 2px solid #B30505;
}

.toplevel {
    text-align: center;
}

.toplevel.selected {
}

.selected < .placeholder {
    background-color: #B30505;
}

.placeholder {
    border: 1px dashed #B30505 !important;

    height: 10px !important;
    width: 10px !important;

    padding-left: 10px;
    padding-right: 10px;

    vertical-align: middle;
}

.cell {
    /* Frame around cell */
    /*border-right: 5px solid #ccc;*/
    /*border-top: 5px solid #ccc;*/

	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.2);

    /* Collapsed height */
    /*min-height: 50px;*/

    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    background-color: #FFFDF7; 

}

.cell .equations {
    min-height: 50px;
}

/* Editable text atom */

.cell .textatom {
    font-family: 'Helvetica', sans-serif;
    font-size: 12pt;
    border-bottom: 1px solid #ccc;

    padding: 5px;
    margin-bottom: 5px;

    text-align: left;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-line;
    min-height: 50px;
}

.cell .textatom textarea {
    margin-bottom: 5px;
    width: 100%;
    border: none;
    white-space: pre-line;
    resize: none;
    overflow: hidden;
}
