body {
	margin: 0;
	padding: 0;
	color: #222;
	text-align: center;
}

#container {
	margin: 15px auto;
	text-align: left;
	padding: 0px;
	width: 850px;
}

header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 15px;
}

header h1 {
	font-size: 32px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}

header .subheading {
	font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

section.text {
	padding: 0 15px;
	font-size: 16px;
	line-height: 1.5em;
    text-align: justify;
	font-family: CMEX10, Georgia, "Times New Roman", Times, serif;
}

section.math {
	font-size: 16px;
}

footer {
	clear: both;
	border-top: 1px solid #ccc;
	padding: 15px;
	margin-top: 15px;
}
