{% extends "base.tpl" %}
{% load i18n %}

{% block box %}
<div class="block" id="block-login">
    <div class="content login">
    <h3>Login</h3>

    <form method="post" action=".">
      {{ form.as_p }}

      <input type="submit" value="Log in" />
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
    </form>

    <p><a href="{% url auth_password_reset %}">Forgot Password</a> |
    <a href="{% url registration_register %}">Register</a></p>
    {% endblock %}

    </div>
</div>
