{% extends "base.tpl" %}
{% load humanize %}

{* Overload Header *}
{% block header %}
{% endblock %}

{% block inline_css %}
<style>
    #box {
        width: 25% !important;
        min-width: 100px !important;
    }
</style>
{% endblock %}

{% block inline_js %}
<script>
    $(document).ready(function() {
        $("#box").removeClass('hidden');
    });
</script>
{% endblock %}

{% block box %}
<div class="block" id="block-login">
    <div class="content login">
    <h3>Logged Out</h3>
    <p><a href="{% url auth_login %}">Login</a></p>
    </div>
</div>
{% endblock %}
