{% extends "base.tpl" %}

{# Overload Header #}
{% block header %}
{% endblock %}

{% block inline_css %}
<style>
    #box {
        width: 25% !important;
        min-width: 100px !important;
    }
</style>
{% endblock %}

{% block inline_js %}
<script>
    $(document).ready(function() {
        $("#box").removeClass('hidden');
    });
</script>
{% endblock %}

{% block box %}
<div class="block" id="block-login">
    <div class="content login">
    <h3>Change Pasword</h3>

    <form method="post" action=".">
      <table>
      {{ form.as_table }}
      </table>

      <input type="submit" value="Submit" />
      {% csrf_token %}
    </form>
    </div>
</div>
{% endblock %}
