{% extends "base.tpl" %}
{% load humanize %}

{* Overload Header *}
{% block header %}
{% endblock %}

{% block inline_css %}
<style>
    #box {
        width: 25% !important;
        min-width: 100px !important;
    }
</style>
{% endblock %}

{% block inline_js %}
<script>
    $(document).ready(function() {
        $("#box").removeClass('hidden');
    });
</script>
{% endblock %}

{% block box %}
<form method="post" action=".">
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
