{% extends "base.tpl" %}
{% load humanize %}

{% block inline_css %}
<style>
    #box {
        width: 75%;
    }

    .table {
        width: 100%;
    }
</style>
{% endblock %}

{% block inline_js %}
<script>
    $(document).ready(function() {
        $("#box").removeClass('hidden');
    });
</script>
{% endblock %}

{% block box %}

    <div class="block" id="block-tables">
        <h1 class="title">User Settings</h1>

        <div class="inner">
        <p><b>Username:</b> {{ user.username|escape }} </p>
        {% if user.first_name %}
        <p><b>Full Name:</b> {{ user.first_name }} {{user.last_name }} </p>
        {% else %}
        <p><b>Full Name:</b> Not Specified </p>
        {% endif %}
        <p><b>Email:</b> {{user.email }} (Private)</p>
        <p><b>Password: </b> <a href="{% url auth_password_change %}">Change Password</a></p>
        </div>

      </div>

{% endblock %}
