{% extends "base.tpl" %}

{% block main-navigation %}
<ul class="wat-cf">
  <li class="first active"><a href="">Main Page</a></li>
  <li class=""><a href="/ecosystem">Ecosystem</a></li>
  <li class=""><a href="#">Worksheet</a></li>
  <li class=""><a href="/share">Share</a></li>
</ul>
{% endblock %}


{# List the available worksheets #}

{% block main %}
<div class="block" id="block-tables">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><a href="#">My Worksheets</a></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">My Workspaces</h2>
    <div class="inner">
      <form action="#" class="form">
        <table class="table">
          <tr>
            <th class="first"><input type="checkbox" class="checkbox toggle" /></th>
            <th>Title</th>
            <th>Public</th>
            <th>Last Edited</th>
            <th>Tags</th>
            <th class="last">&nbsp;</th>
          </tr>
          {% load humanize %} 
          {% for workspace in workspaces %}
          <tr class="odd">
              <td><input type="checkbox" class="checkbox" name="id" value="{{workspace.id}}" /></td>

              <td><b><a href="ws/{{workspace.id}}">{{workspace.name}}</a></b></td>

              <td>{{ workspace.public|yesno|title}}</td>

              <td>{{ workspace.timestamp|naturalday|title}}</td>

              <td>{{ workspace.tags }}</td>

              <td class="last">
                <a href="/worksheet_edit/{{workspace.id}}">edit</a> |
                <a href="/worksheet_delete/{{workspace.id}}">delete</a>
              </td>
          </tr>
          {% endfor %}
        </table>
        <div class="actions-bar wat-cf">
          <div class="actions">
              <a href="/worksheet_edit">
                <button class="button" type="submit">
                  <img src="/static/img/icons/add.png" alt="Add" /> Add
                </button>
            </a>
          </div>
          <div class="pagination">
            <span class="disabled prev_page">« Previous</span><span class="current">1</span><a rel="next" class="next_page" href="#">Next »</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
