{% load bundler_tags %}

<!DOCTYPE HTML>
<html>
<head>
  <title>Wise Test Suite</title>
  <link rel="stylesheet" href="/media/js/tests/qunit.css" type="text/css" media="screen" />

 {% load_bundle "base_js" %}
 {% load_bundle "worksheet_js" %}
 {% load_bundle "unittest_js" %}

  <script type="text/javascript" src="/media/js/tests/tree_test.js"></script>

  <!-- Mock Worksheet Data -->
  <script type="text/javascript" src="/media/js/tests/worksheet_mock.js"></script>

  <!-- Worksheet test -->
  <script type="text/javascript" src="/media/js/tests/tests_ws_mvc.js"></script>

</head>
<body>
  <h1 id="qunit-header">Wise Test Suite</h1>
  <h2 id="qunit-banner"></h2>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
  <br /><br />
  <h1 id="qunit-header">Wise Speed Suite</h1>
  <div id="jslitmus_container" style="margin: 20px 10px;"></div>
</body>
</html>
