{% extends "base.tpl" %}
{% load humanize %}

{% block inline_css %}
<style>
    #box {
        width: 75%;
    }
</style>
{% endblock %}

{% block inline_js %}
<script>
    $(document).ready(function() {
        $("#box").removeClass('hidden');
    });
</script>
{% endblock %}

{% block box %}

      <h1>Delete Worksheet: {{ object }}?</h1>

      <form method="post" action="">

        <div class="actions-bar wat-cf">
          <button class="button" type="submit">
              <img src="{{ STATIC_URL }}img/icons/cross.png" alt="Delete"/>Delete
          </button>
        </div>
      </form>

{% endblock %}
