{% extends "base.tpl" %}

{% block main-navigation %}
<ul class="wat-cf">
    <li class="first active"><a href="{% url home %}">Main Page</a></li>
  <li class=""><a href="/ecosystem">Ecosystem</a></li>
  <li class=""><a href="#">Worksheet</a></li>
  <li class=""><a href="/share">Share</a></li>
</ul>
{% endblock %}

{# List the available worksheets #}

{% block main %}
<div class="block" id="block-tables">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><a href="#">My Worksheets</a></li>
    </ul>
  </div>
  <div class="content">
      <div class="inner">

        <h1>Worksheet Properties</h1>

        {% if errors %}
          <div class="flash">
                <div class="message notice">
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </div>
          </div>
        {% endif %}

      {% if id %}
      <form action="/worksheet_edit/{{id}}/" class="form" method="POST">
      {% else %}
      <form action="/worksheet_edit/" class="form" method="POST">
      {% endif %}
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Worksheet Name</label>
              </div>
              <div class="right">
                  {{ form.name }}
              </div>
            </div>

            <div class="group wat-cf">
              <div class="left">
                <label class="label">Make Public</label>
              </div>
              <div class="right">
                 {{ form.public }}
              </div>
            </div>

            <div class="group navform wat-cf">
              <button class="button" type="submit">
                  <img src="/static/img/icons/disk.png" alt="Save"/> {{action}}
              </button>
            </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
