{% extends "base.tpl" %}
{% load humanize %}

{% block inline_css %}
<style>
    #box {
        width: 75%;
    }
</style>
{% endblock %}

{% block inline_js %}
<script>
    $(document).ready(function() {
        $("#box").removeClass('hidden');
    });
</script>
{% endblock %}

{% block box %}
    <h1>{{ object }}</h1>

        {% if errors %}
        <div class="flash">
              <div class="message notice">
                  {% for error in errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </div>
        </div>
        {% endif %}

      <form method="post" action="" class="form">
        <div class="group">
          <label class="label">Name</label>
          {{ form.name }}
          {{ form.owner }}
        </div>

        <div class="group">
          {{ form.public.label_tag }} {{ form.public }}
        </div>

        <div class="actions-bar wat-cf">
          <button class="button" type="submit">
              <img src="{{ STATIC_URL }}img/icons/tick.png" alt="Save">Save</button>

          <button class="button" value="Cancel" onclick="window.location = '/'; return false;" />
                  <img src="{{ STATIC_URL }}img/icons/cross.png" alt="Cancel">Cancel</button>
        </div>
      </form>

{% endblock %}
