{% extends "base.tpl" %}
{% load bundler_tags %}

{% block main-navigation %}
<ul class="wat-cf">
  <li class="first"><a href="/">Main Page</a></li>
  <li class=""><a href="/ecosystem">Ecosystem</a></li>
  <li class="active"><a>Worksheet</a></li>
  <li class=""><a href="/share">Share</a></li>
</ul>
{% endblock %}

{# --------------------------
Worksheet specific javascript 
-------------------------- #}
{% block includes %}

 <!-- Using /ws/mathjax/ ( which is just a url rewrite to
 /static/js/mathjax ) avoids Firefox strange same-origin
 policy for otf web fonts -->
<!-- <script type="text/javascript"
    src="/ws/mathjax/MathJax.js"></script>-->

{% load_bundle "worksheet_js" %}
{% load_bundle "worksheet_css" %}

{% endblock %}

{# --------------------------
Worksheet Palettes
-------------------------- #}
{% block sidebar %}

<!--
<div class="block">

  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li id="tab_math_palette" class="active first"><a href="javascript:palette(1)">Palette</a></li>
      <li id="tab_rules_palette"><a href="javascript:palette(2)">Rules</a></li>
    </ul>
  </div>

  <div id="math_palette" class="palette"> </div>

  <div id="rules_palette" class="palette"> </div>

</div>
-->
{% endblock %}

{# --------------------------
Init Function + Global Vars
-------------------------- #}
{% block globals %}
<script>
    // The id of the Worksheet corresponding to its index in the
    // database
    var WORKSHEET_ID = {{ ws_id }};

    // This is passed by Django to help us keep track of the #uid
    // counter
    
    // Count of how many "nodes"/uid tagged elements there are in the
    // DOM
    var NAMESPACE_INDEX = {{ namespace_index }};
    
    // Count of how many cells are in the workspace
    var CELL_INDEX = {{ cell_index }};
    
    // Raw json sent from the server when the page
    // initializes
    var JSON_TREE = $.parseJSON('{{ json_cells|safe }}');
    
    // Lookup table of active equations which maps uid -> internal
    // tree object
    //var NODES = {};

    // Array of cells, index corresponds to order on page. Each
    // element contains another array of equations in that cell.
    var CELLS = [];
</script>

{% endblock %}

{% block inline-script %}
<script>

    //MathJax.Hub.Register.MessageHook("New Math", function (message) {
    //  var script = MathJax.Hub.getJaxFor(message[1]).SourceElement();
    //  console.log(message.join(" ")+": '"+script.text+"'");
    //})

    //Only show the workspace after all math is rendered
    //MathJax.Hub.Register.MessageHook("End Process", function (message) {
    //    $(".lines").show();
    //})

    var cmd_visible = 0;

    $('#cmdline').submit(function() {
        use_infix($("#cmdinput").val());
        $("#cmdinput").blur();
        return false;
    });
    
    function init()
    {
        if(!($.browser.mozilla)) {
            $( "#dialog" ).dialog({
                resizable: false,
                height:300,
                width: 350,
                modal: true,
                position: 'center',
                buttons: {
                    "Proceed Anyways": function() {
                        $( this ).dialog( "close" );
                    },
                    "Go Back": function() {
                        javascript:history.go(-1);
                    }
                }
            });
        }
        init_nodes();
        load_math_palette();
        load_rules_palette();

        init_keyboard_shortcuts();

        setInterval( "heartbeat()", 10000 );
    
        //Make buttons pretty
        $('.equation button','#workspace').parent().buttonset();
        $('button','#workspace').parent().buttonset();
    
        //Make equations sortable within each cell.
        $(".cell table").sortable({
            handle: '.hand',
        });

        $('.lines').disableSelection();
    
        //$('.editable').editable({loadurl: '#', loadtype: 'POST'})

    }
</script>
{% endblock %}



{# --------------------------
Equations
-------------------------- #}

{% block main %}

<div id="dialog" style="display: none;">
    It appears that you aren't using Firefox 3+. If the
    mathematics displayed on the right does not match the image
    on the left then your browser does not support enough MathML to
    use the worksheet.

    <table style="width: 100%; text-align: center;">
        <tr>
        <td>
            <img src="/static/img/mathml_test.png"/>
        </td>
        <td>
        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
          <mrow>
            <msup>
              <mi>x</mi>
              <mn>2</mn>
            </msup>
            <msup>
              <mi>y</mi>
              <mn>2</mn>
            </msup>
          </mrow>
        </math>
        </td>
        </tr>
    </table>

    <p>
    <input type="checkbox"/> Don't show me this message again.
    </p>
</div>

<div id="selectionlist">
</div>

<div class="cmd" style="display: none">
    <form id="cmdline" action="#">
        <input id="cmdinput" type="text"></input>
    </form>
</div>

<div id="workspace">
    {% for cell in cells %}
        {{cell|safe}} 
    {% endfor %}
</div>

<!--

<div class="block" id="block-text">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active first"><a href="#block-text">Worksheet</a></li>
    </ul>
  </div>
  <div class="content">

    <div id="cell_selection" class="pagination">
        <a class="active" href="javascript:new_cell()">New Cell</a>
    </div>

    <div id="scratchpad" class="scatchpad">
    </div>

    <h2 class="title">{{title|title}}</h2>
    <div class="inner">
      <hr />
        <div id="workspace">
            {% for cell in cells %}
                {{cell|safe}} 
            {% endfor %}
        </div>
    </div>
  </div>
</div>

-->

{% endblock %}
